/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-sidebar: #051e34;
    --bg-search: #e5e5e5;
}

.wrapper{
    margin-top: 70px;
    height: calc(100vh - 70px);
    overflow: hidden;
}

img{
    width: 100%;
}

/* Header */

header nav{
    height: 70px;
    width: 100%;
}

.ah-logo-small{
    width: 65px;
}


.ah-nav-search{
    background-color: var(--bg-search);
    width: 100%;
    height: 45px;
}

/* Sidebar */

#sidebar{
    height: 100%;
    width: 180px;
    flex-shrink: 0;
    background-color: var(--bg-sidebar);
    background-image: url("../img/img/sidebar-bg.png");
    
}

.ah-square{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    font-size: 2rem;
    cursor: pointer;
}

.ah-breadcrumb{
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.5s;
}

.ah-breadcrumb:hover{
    background-color: rgba(0, 0, 0, 1);
}

/* Main */

main{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}

